spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}/protocol/openid-connect/certs
          issuer-uri: http://localhost:8081/realms/package
sso:
  app:
    pubkey: MIICrTCCAZUCBgGQbHBFTjANBgkqhkiG9w0BAQsFADAaMRgwFgYDVQQDDA9wYWNrYWdlLW1hbmFnZXIwHhcNMjQwNzAxMDM1NTE1WhcNMzQwNzAxMDM1NjU1WjAaMRgwFgYDVQQDDA9wYWNrYWdlLW1hbmFnZXIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC/VCQyXvJCjwU/XoSpUp588D27zLxoomScdBLRK9brVcM2/0blNdk79vpykMi43cTKomrGeS1rTmWUxK8X7EsiaLnbAvBZsfxAbzlJKlNAkXuo5v3ANveCNcDkJaKw5yYYhAVzNGDCtxjoV7NdvpXKz6CATXlOO0wWZEocwSg8cLsi6aRiAGtEwNydGksg1ZE+VtoC9WKeeFgzIfH2bTKCq8ekxCE9zmMBb0AxVkNQPI9XE7D9LN0czaw81iaT244PvkpTXCQy2mRKGlC//Y9rldGi4TF2CIz6D35+YBo4YeYzl3jCWWE8aykgYB/18g2KRe7fqUGLO9HB1IC8WuA5AgMBAAEwDQYJKoZIhvcNAQELBQADggEBAC9TbDYQgD8oFUspav0KptTrlvnDZK6w9hrI9BzbpDfTy/oZ1tREdXWFbOUC902TuL7ZXjFgb+4fYyIMK2fFK+snbS12Q420C0lcLNBjCTfMEOO75i+0jbnMrqc7VZqe5gORV5Lsgf8+bsu5BFzv9vSEFOBjyQJYMc53Qs2KD1yOGd3uEOHTO9y4DPeBtDoP8qmnymMaQQL4kgJ+gcZeXQBZdbLoUS+igp/POW0A7jszR33yDOTp68SyytILezqTtDMljUZecltQu+09Kb5UDBwgQrfxcRdaXD1OSxJIlzE06linr4gGaRJv9zFeYAie9NMTOU5WaTvNAwC3Jh3pEao=

secret:
  token: t7lYljTN1a7OPRo7rqyEuudc6D2C3LcT

jwt:
  auth:
    converter:
      resource-id: package-manager
      principle-attribute: preferred_username